.bull-upload-wrapper {
  .bull-upload-list {
    margin-top: 1rem;
    padding-left: 0;
    list-style: none;
    width: 15rem;

    .bull-upload-list-item {
      padding: $auto-complete-item-padding-y $auto-complete-item-padding-y;
      position: relative;
      font-size: $font-size-base;

      .file-name {
        svg {
          margin-right: .3rem;
        }
      }

      .file-status {
        position: absolute;
        right: .5rem;
      }

      .file-action {
        position: absolute;
        right: .6rem;
        top: .1rem;
        z-index: 100;
        display: none;
        cursor: pointer;
      }

      &:hover {
        background-color: $gray-200;
        .file-status {
          display: none;
        }
        .file-action {
          display: block;
        }
      }
    }
  }
}

@each $key,$value in $file-colors {
  .file-name-#{$key} {
    color : $value
  }
}